{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dag-Expression Admin Portal - Login{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br/>
        <p class="">
            New user?
            <a href="{{ url_for('auth.register') }}">
                Click here to register
            </a>
        </p>
    </div>
{% endblock %}