{% extends "base.html" %}

{% block title %}Expressions at DAG{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to DAG Expressions</h1>
    {% if current_user.is_authenticated %}
        <p>Hi, {{ current_user.username }}</p>
    {% endif %}
    <p>The current time is {{ moment(current_time).format('LLL') }}.</p>
    <hr/>
    {% for expression in expressions %}
        <section>
            <blockquote>{{ expression.expression }}
                <small>by anonymous</small>
            </blockquote>
        </section>
    {% endfor %}
    <p></p>
</div>
{% import "bootstrap/wtf.html" as wtf %}
{{ wtf.quick_form(form) }}
{% endblock %}